.services-us-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  background-color: #f3f5fa;
}

.services-us-section-header {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #37517e;
}

.services-us-section-body-container {
  display: flex;
  width: 100%;
}

.services-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
}

.service-card-title {
  font-weight: 500;
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  color: #37517e;
}
.service-card-title:hover {
  color: #47b2e4;
}

.service-card-title p {
  font-size: 1.1rem;
}
.icon {
  font-size: 36px;
  margin-bottom: 10px;
  color: #71c3ea;
}

.icon span {
  font-size: 36px;
}

.services-card {
  box-shadow: 0px 0 25px 0 rgb(0 0 0 / 10%);
  /* padding: 50px 30px; */
  transition: all ease-in-out 0.4s;
  background: #fff;
  padding: 2.5rem 1.5rem;
  margin: 1rem;
}
.services-us-section-body-description {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .services-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-around;
  }
}
