.skills {
  display: flex;
}

.skills-left {
  width: 48%;
}
.skills-img {
  width: 100%;
  height: auto;
}
.skills-right {
  width: 48%;
}

.skills-right h3 {
  font-weight: 700;
  font-size: 32px;
  color: #37517e;
  font-family: "Poppins", sans-serif;
}
.skills-right p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-style: italic !important;
}

@media screen and (max-width: 1000px) {
  .skills {
    display: block;
  }
  .skills-left,
  .skills-right {
    width: 80%;
    margin: 0 10%;
  }
}
